.contenedor{
  width: 80vw;
  margin: 0 auto;
}


.header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.boton{
  font-size: 0.8em;
    width: 100%;
    outline: none;
    border: none;
    padding: 0.6em 1.2em;
    background: #2EC4B6;
    color: #fff;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    transition: 0.45s box-shadow;
}

.boton:hover{
  background: #229488;
  box-shadow: inset 0px 0px 300px rgba(0, 0, 0, 0.18);
}