@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #011627;
  color: #FCFAF9;
  letter-spacing: 0.5px;
}

@import "~bootstrap/scss/bootstrap-grid";
